{% extends 'base.html.twig' %}

{% block header_title %}<h1>Modifier <strong>{{ user.username }}</strong></h1>{% endblock %}
{% block header_img %}{% endblock %}

{% block body %}
    <div class="row">
        {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
    </div>
    {# {{ include('user/_delete_form.html.twig') }} #}
    <a href="{{ path('app_user_index') }}" class="btn btn-primary pull-right">Retour</a>
{% endblock %} 

{# {% block body %}
    <h1>Edit User</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_user_index') }}">back to list</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %} #}
