{% extends 'base.html.twig' %}

{% block header_img %}{% endblock %}

{% block header_title %}<h1>Liste des utilisateurs</h1>{% endblock %}

{% block body %}
    <h1>User index</h1>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nom d'utilisateur</th>
                    <th>Adresse d'utilisateur</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    {# <td>{{ user.id }}</td> #}
                    <td>{{ user.username }}</td>
                    {# <td>{{ user.password }}</td> #}
                    <td>{{ user.email }}</td>
                    <td>
                        {# <a href="{{ path('app_user_show', {'id': user.id}) }}">show</a> #}
                        <a href="{{ path('app_user_edit', {'id': user.id}) }}" class="btn btn-success btn-sm">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5" class="alert alert-warning" role="alert"> Il n'y a pas encore d'utilisateur enregistré. <a href="{{ path('app_user_new') }}" class="btn btn-warning pull-right">Créer un utilisateur</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {# <a href="{{ path('app_user_new') }}">Create new</a> #}
{% endblock %}
